#projects, #projectInfo
{
    flex-direction: column;
}

#projectLister
{
    margin-top: 15px;
}
.projectImage
{
    margin-top: 10px;
    align-self: center;
    width: 1500px;
    height: auto;
}

#programsUsed, #lessonsLearned
{
    display:flex;
    flex-direction: column;
}

#lessonsLearned
{
    font-size: 30px;
}

.lesson
{
    font-size: 24px;
    text-align: center;
}

.projectLinks
{
    /* flex-direction: row; */
    justify-content: space-around;

}
.projectSourceLink
{
    margin-top: 75px;
    margin-bottom: 75px;
    /* align-self: center;
    text-align: center; */
    font-size: 36px;
    color: whitesmoke;
    background-color: #0866AA;
    border-radius: 10px;
    padding: 25px 75px;
}

