/*
*
{
    outline: 1px solid red;
}*/
.seperator
{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
}
.minimizeSize
{
    margin:0px;
    padding:0px;
}
.container
{
    display:flex;
}

#headerLinks, #contactLinks, #projectLinks
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#aboutMe
{
    align-items: center;
}
#header, #aboutMe
{
    justify-content: space-between;
    background-color: #0866AA; /*Cyan-like colour*/
}
#header
{
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 5px solid grey;
}
#headerLinks .link
{
    color: whitesmoke;
    font-size: 30px;
}

#headerTitle
{
    color: whitesmoke;
    font-size: 48px;
}
#aboutMeInfo
{
    flex-direction: column;
}

#aboutMeInfo h1
{
    margin:0px;
    padding:0px;
    font-size: 64px;
    color: whitesmoke;
    text-align: center;
}

#aboutMeInfo #heading
{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size:30px;
    color: whitesmoke;
    text-align: center;
}
#contactLinks .link
{
    height:64px;
}
#aboutMe #bodyText
{
    color: whitesmoke;
    font-size: 24px;
    max-width: 900px;
}
#linkPaster
{
    font-size: 24px;
    text-align: center;
}


